/* 
    flex.scss
*/

$mainColor : #1A1A1A;
$fontColorPrimary : #FFFFFF;
$fontColorSecondary : #999999;
$borderColor : #303030;

$buttonPrimaryFontColor: #fcfcfc;
$fontPrimaryFamily: 'Urbanist', sans-serif;

$viewButtonBackgroundColor: #703BF7;
$editButtonBackgroundColor : rgb(0, 144, 144);
$deleteButtonBackgroundColor : red;

.flex {
    display: flex;
    justify-content: space-between;

    &--2 {
        width: 49.5rem;
        flex-wrap: wrap;
    }

    
    
    &--5 {
        background-color: #141414;
        padding: 1rem 0;
        
    }

    &__title {
        color: $fontColorPrimary;
        font-family: 'Urbanist', sans-serif;
        font-size: 30px;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        &--primary {
            width: 45%;
            padding: 15vh 0;
            padding-bottom: 35vh;
        }
        &--secondary {
            width: 55%;
            background-image: url("../../images/desktop-background.jpg");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            padding-bottom: 35vh;
        }
        &--single {
            width: 40%;
            margin-top: 5rem;
            background-image: url("../../images/products/desktop/list-desktop.jpg");
            background-size: 100% auto;
            margin-right: 5rem;
        }
        &--list {
            width: 20rem;
            background-color: $mainColor;
            height: 30rem;
            padding: 1rem 1rem;
            margin: 1rem 1rem;
            color: $fontColorPrimary;
            border: 1px solid $borderColor;
            border-radius: 3px;
        }

        &__image {
            width: 100%;
            border-radius: 6px;
        }
        &__title {
            font-size: 20px;
            font-weight: normal;
            text-overflow: ellipsis;
            overflow: hidden; 
            width: 260px; 
            height: 1.2em; 
            white-space: nowrap;

  
        }
        &__subtitle {
            font-size: 18px;
            color: $fontColorSecondary;
        }

        

        &__button {
            font-family: $fontPrimaryFamily;
            color: $buttonPrimaryFontColor;
            background-color: $viewButtonBackgroundColor;
            border: 1px solid $borderColor;
            padding: 10px 20px;
            border-radius: 5px;
            width: 100%;
            font-weight: bold;
            margin: 0.5rem 0;
            &--primary {
                background-color: $editButtonBackgroundColor;
            }
            &--secondary {
                background-color: $deleteButtonBackgroundColor;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }

}