/* 
    list.scss
*/

.list {
    margin: 0;
    padding: 0;
    margin-top: 2rem;
    &__item {
        display: inline;
        margin: 0 1.5rem;
        &--logo {
            position: absolute;
            left: 3rem;
            top: 1.5rem;
        }

        &--right {
            position: absolute;
            right: 10rem;
            margin-right: 1rem;
        }
        &--icon {
            position: absolute;
            right: 3rem;
            top: 2.5rem;
        }
    }
    
}

