/*
    options.scss
*/

$optionsBackgrondColor: #262626;

$inputBackgroundColor: #1A1A1A;
$inputBorderColor: #303030;
$inputFontColor: #fcfcfc;
$inputPlaceHolderFontColor: #666666;
$inputFontFamily: 'Urbanist', sans-serif;



.options {
    margin: auto;
    background-color: $optionsBackgrondColor;
    width: 45.5rem;
    padding: 0.5rem;
    border-radius: 3px;
    margin-top: -1.5rem;
    &__input {
        background-color: $inputBackgroundColor;
        border: 1px solid $inputBorderColor;
        border-radius: 3px;
        color: $inputFontColor;
        outline: none;
        box-sizing:border-box;
        width: 100%;
        padding: 1rem;
        font-family: $inputFontFamily;
        font-size: 24px;
    }
}