/*
    pagination.scss
*/

$sidebarBackgrondColor: #262626;
$textFontColor: #fcfcfc;
$fontFamily: 'Urbanist', sans-serif;

$boxBackgroundColor: #1A1A1A;
$boxBorderColor: #303030;
$activeColor: #703BF7;

.pagination {
    width: 100%;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    &__list {
        list-style-type: none;
    }
    &__item {
        margin: 0;
        padding: 0;
        display: inline-block;
    }
    &__link {
        text-decoration: none;
        padding: 5px;
        border-left: 1px solid $boxBorderColor;
        border-top: 1px solid $boxBorderColor;
        border-bottom: 1px solid $boxBorderColor;
        color: white;
        font-family: $fontFamily;
        font-size: 20px;
        &--last {
            border-right: 1px solid $boxBorderColor;
        }
        &--active {
            background-color: $activeColor;
        }
    }
}